KODIK_API_URI=https://kodikapi.com
KODIK_AUTH_TOKEN=

SHIKIMORI_API_URI=https://shikimori.rip/api
SHIKIMORI_FALLBACK_API_URI=https://shikimori.fi/api
SHIKIMORI_CLIENT_ID=
SHIKIMORI_CLIENT_SECRET=
SHIKIMORI_EPISODE_NOTIFICATION_TOKEN=
SHIKIMORI_REDIRECT_URI=urn:ietf:wg:oauth:2.0:oob

SMARTHARD_API_URI=https://api.sithond.com
SMARTHARD_FALLBACK_API_URI=https://smarthard.net
SMARTHARD_CLIENT_ID=shikirip-cinema
SMARTHARD_CLIENT_SECRET=

PLATFORM_TARGET=web-extension
