.root {
    &__footer {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding: 0.5rem 1rem;
        font-size: 0.75rem;
        color: var(--ion-color-medium);
        border-top: 1px solid var(--ion-color-light);
        opacity: 0.6;
    }

    &--embed {
        .root__content {
            height: 100%;
        }
    }
}
