<ion-content [fullscreen]="true" class="page-content"
    appSwipe
    (appSwipeRight)="onOpenVideoSelectorModal()">

    <div class="player-page__wrapper"
        [class.player-page__wrapper--mobile]="isSmallScreen()"
        [class.player-page__wrapper--compact]="playerMode() === 'compact'">

        <div class="player-page__anime-info common-info">
            <div class="common-info__title">
                @if (isAnimeLoading()) {
                    <app-skeleton-block
                        height="2rem"
                        [width]="isSmallScreen() ? '10rem' : '30rem'"
                        borderRadius="0.25rem"
                    />
                } @else {
                    <ion-text>
                        <h1 class="player-page__title text-ellipsis"
                            [title]="animeName()">
                            <a [href]="animeId() | shikimoriAnimeLink | getShikimoriPage | async">
                                {{ animeName() }}
                            </a>
                        </h1>
                    </ion-text>
                }
            </div>

        </div>

        <app-player class="player-page__player responsive-16by9"
            [showNextEpisodeAt]="nextEpisodeAt() !== null"
            [source]="resolvedSource()"
            [urlType]="currentVideo()?.urlType"
            [nextEpisodeAt]="nextEpisodeAt()"
        />

        <app-player-selector
            class="player-page__player-selector"
            [class.ion-hide]="isSmallScreen()"
            [animeId]="animeIdQ()"
            [kind]="currentKind()"
            [episode]="episodeQ()"
            [lastAiredEpisode]="lastAiredEpisode()"
            [maxEpisode]="maxEpisode()"
            [isFilterDomains]="isDomainFilterOn()"
            [isLoading]="isVideosLoading()"
            [videos]="videos()"
            [selectedVideo]="currentVideo()"
            (changeVideo)="onVideoChange($event[0], $event[1])"
            (changeKind)="onKindChange($event)"
            (domainFiltersOff)="setDomainFilters(false)"
        />

        <app-control-panel
            class="player-page__control-panel"
            [anime]="anime()"
            [maxEpisode]="maxEpisode()"
            [selected]="episodeQ()"
            [userRate]="userRate()"
            [isLoading]="isAnimeLoading()"
            [isWatched]="isWatched()"
            [showSidePanel]="isSmallScreen()"
            [isRewatching]="isRewatching()"
            [isMinified]="isPanelsMinified()"
            [playerMode]="playerMode()"
            (selection)="onEpisodeChange($event)"
            (watch)="onWatch($event, isWatched())"
            (openVideoModal)="onOpenVideoSelectorModal()"
            (togglePlayerMode)="togglePlayerMode()"
        />

        @if (!isSmallScreen()) {
            <app-side-panel
                class="player-page__side-panel"
                [anime]="anime()"
                [episode]="episodeQ()"
                [video]="currentVideo()"
                [isLoading]="isAnimeLoading()"
                [isMinified]="isPanelsMinified()"
                [isDomainFiltersActive]="isDomainFilterOn()"
                (filtersToggle)="setDomainFilters($event)"
            />
        }

        @if (relatedAnimes()?.length) {
            <app-franchise-panel
                class="player-page__franchise"
                [related]="relatedAnimes()"
            />
        }

        <app-comments
            class="player-page__comments"
            [comments]="comments()"
            [isLoading]="isCommentsLoading()"
            [isPartialyLoading]="isCommentsPartiallyLoading()"
            [showMoreButton]="!isShownAllComments()"
            [highlightComment]="highlightComment()"
            (showMoreComments)="onShowMoreComments()"
            (editComment)="onCommentEdit($event)"
            (deleteComment)="onCommentDelete($event)"
        />

        <app-user-comment-form
            #userCommentForm
            class="player-page__comment-form"
            [isAuthorized]="isUserAuthorized()"
            [editComment]="editComment()"
            (send)="onCommentSend($event)"
            (sendEdited)="onCommentSendEdited($event)"
            (login)="onCommentLogin()"
            (highlightEdit)="onHighlightComment($event)"
            (cancelEdit)="onCancelCommentEdit()"
        />
    </div>

    <app-footer />
</ion-content>
