.episode-selector {
    display: flex;
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #1d2227;
    border-radius: 0;

    .scrollbar {
        --scrollbar-thumb-color: rgba(var(--ion-color-primary-rgb), 0.5);
        --scrollbar-track-color: transparent;
        width: 100%;
    }

    &__wrapper {
        display: flex;
        gap: 1.6rem;
        align-items: center;
        min-width: max-content;
        overflow: hidden;
    }
}
